.shows-card-wrapper {
  position: relative;
  margin-right: 40px;
  z-index: 99;
  margin-bottom: 20px;
  .shows-card {
    background: #111229;
    color: white;
    width: 245px;
    border-radius: 8px;
    background-color: #111229;
  }
  .shows-card-img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  .info {
    padding: 25px 16px;
    .tag {
      padding: 1px 4px;
      background-color: #e5c558;
      color: #682f26;
      font-family: Nunito;
      font-size: 12px;
      font-weight: 600;
    }
    .name {
      font-family: Libre Baskerville;
      font-size: 18px;
      line-height: 32px;
      margin: 10px 0;
    }
    .utils {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
      .more {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #0259eb;
        cursor: pointer;
        img {
          padding-left: 10px;
          transition: 0.05s linear;
        }
      }
      .more:hover img {
        transform: translateX(15px);
      }
      .book {
        padding-left: 15px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        color: pink;
        cursor: pointer;
      }
    }
  }
  .shows-card-background {
    position: absolute;
    border-radius: 8px;
    left: 8px;
    top: -8px;
    bottom: 8px;
    width: 245px;
    background: linear-gradient(163.41deg, #301a68 0.11%, #234c97 170.69%);
    z-index: -99;
  }
}
